.sec {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.sec1 {
  height: 100vh;
  margin: 0;
}

.sec2 {
  margin: 0;
  padding-top: 10vh;
  padding-bottom: 3vh;
  overflow-y: hidden;
}

.sec3 {
  padding-top: 10vh;
}
.sec4 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.sec5 {
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  background: #0a0b41;
  color: white;
}

.sec1 h1 {
  font-size:36px;
}



.sec_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 50%;
}

.sec_div h1 {
  font-size: 3.5vw;
}

.navSpace {
  height:12vh;
}

.imageBg {
  flex: 1;
  display: flex;
  background-repeat: no-repeat;
  background-position: "center";
  background-size: "cover";
  height: "100%";
  width: "100%";
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}

.overlay {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.2);
  justify-content: flex-start;
}

.titlePara {
  color: white;
  text-align: left;
  border-radius: 10px;
 
  flex: 0.5;
  margin-left: 2vw;
  padding: 1%;
}

.joinUsBtn {
  outline: none;
  font-size: 1.5vw;
  border-radius: 6px;
  padding: 12px;
  color: white;
  font-weight: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  background-color: #44699d;
}
.joinUsBtn:hover {
  background-color: #353c63;
}
.joinUsBtn:focus {
  background-color: #1a2149 !important;
}

.blockA {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.imageBg2 {
  background-repeat: no-repeat;
  background-color: rgb(22, 0, 83);
  height: 100%;
  flex: 1;
  border-radius: 0% 10% 10% 0%;
  position: relative;
  overflow: hidden;
}

.typeBtn {
  border: none;
  background-color: inherit;
  padding: 0 2vw;
  color: #505050;
}

.typeBtn:hover {
  color: black;
  cursor: pointer;
}

.typeBtnFocus {
  color: #44699d;
}

.blockAB {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.projList {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.projectDiv {
  font-size: 150%;
  color: rgba(255, 255, 255, 0);
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: stretch;
  justify-content: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.projectDiv:hover {
  color: white;
}

.projectOverlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 3%;
}

.projectOverlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.image_slider {
  width: 45%;
}

.bgImgSec4 {
  position: absolute;
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0;
  opacity: 0.4;
}

.sec5_body {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  flex:1;
}

.sec5_text {
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100%;
  flex:1;
}

.sec5_img {
  width: 100%;
  position: relative;
  animation-name: hoverAnimation2;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

.sec6 {
  position:relative;
  align-items: center;
  justify-content: center;
  flex:1;
}

.bgImgSec6 {
  position: absolute;
  width:100%;
  height:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  margin: 0;
  opacity: 0.5;
}

.blogsList {
  position:relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  flex:1;
  position: relative;
  width:80%;
  
}



.blog > *{
  width: 80%;
}

.carouselHome .carousel.carousel-slider .control-arrow {
  background-color: white;
  opacity: 10;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  bottom: 50%;
  margin: 1%;
}

.carouselHome .carousel .control-prev.control-arrow:before {
  border-right-color: rgb(165, 165, 165);
}

.carouselHome .carousel .control-next.control-arrow:before {
  border-left-color: rgb(165, 165, 165);
}

@keyframes hoverAnimation {
  0% {
    transform: translate(0%);
  }
  50% {
    transform: translate(2%, 1%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes hoverAnimation2 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
  }
}


.aiRobot {
  position: relative;
  animation-name: hoverAnimation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@media only screen and (orientation: portrait), (max-aspect-ratio: 1.1 ) {

  h1 {
    font-size:22px !important;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 16px !important;
  }

  h3 {
    font-size: 12px !important;
  }

  p {
    font-size: 10px !important;
  }

  .overlay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .titlePara {

    margin-left: 0;
    padding: 5%;
    text-align: center;
  }
  .joinUsBtn {
    font-size: 18px;
  }


  .navSpace {
    height:10vw;
  }

  .blockA {
    flex-direction: column;
  }
  .imageBg2 {
    border-radius: 50% 50% 0 0;
  }
  .aiRobot {
    height: 50vw;
    width: 50vw;
  }
  .blockAB {
    text-align: center;
  }
  .sec_div {
    width: 80%;
  }

  .projList {
    flex-direction: column;
  }
  .projectDiv {
    color: white;
    padding: 0;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: 20vh;
    text-align: center;
  }
  .projectOverlay {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
  }
  .sec4{
    height:100vh;
  }
  .image_slider {
    width: 100%;
  }
  .bgImgSec4 {
    transform: rotate(90deg);
    background-position: center;
    width: 100vh;
    height: 100%;
  }
  .sec5_body {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

  }
  .imageContainer {
    flex:0.5;
    position: relative;
  }
  .sec5_img {
    position: relative;
  }
  .listPrepare {
    padding: 12px;

    list-style-type: none;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    list-style: none;
  }

  .listPrepare li {
    text-align: center;
    font-size: 12px;
  }
  .sec6 {
    position: relative;
    align-items: center;
    line-height: normal;
  }
  .blogsList {
    position: relative;
    height:100%;
    flex-direction: column;
    justify-content: flex-start;
    flex:1;

  }
  .blog{
    flex-direction: column;
    align-items: stretch;
    width: 90%;
    flex:1;
    margin-bottom: 10px;
    margin-top:10px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 20px;
    background-color: rgba(129, 129, 129, 0.1);
    padding:5%;
  }

  .blog > *{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items:stretch;
    width:100%;
    height:100%;
  }

  .sec6 img {
    object-fit: cover;
    align-self: stretch;
  }

  .sec6 h2, .sec6 p {
    font-size: small;
    margin: 4px;
  }

  .blog div {
    padding-top: 10px;
    overflow-y: auto;
    height: 30vh;
  }

}
