.sec {
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    margin:0;
    overflow-x: hidden;
}

.sec2 {
    width:100vw;
    height:70vh;
    display:flex;
    flex-direction:column;
    margin:0;
    overflow-x: hidden;
    overflow-y:hidden;
    padding: 15vh 0;
}


.imageBg {
    flex: 1;
    display: flex;
    background-repeat: no-repeat;
    background-position: 'center';
    background-size: 'cover';
    height:'100%';
    width:'100%';
    justify-content: stretch;
    align-items:center;
    flex-direction:row;
    
}

.overlay {
    display:flex;
    flex-direction:row;
    height:100%;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.164);
    justify-content: flex-start;
    
}

.titlePara {
    color:white;
    text-align: left;
    border-radius: 10px;
    display: flex;
    flex:0.5;
    margin-left:2vw;
    font-size:140%;
    padding: 1%;
}

.blockA{
    flex:1;
    display:flex;
    flex-direction: row;

}

.imageBg2 {
    background-repeat: no-repeat;
    background-color: rgb(22, 0, 83);
    border: 1px solid;
    height:100%; 
    flex:1.2;
    border-radius: 0% 10% 10% 0%;
}

.typeBtn {
    border: none;
    background-color: inherit;
    padding:0 2%;
    color:#505050;

}

.typeBtn:hover{
    color:black;
}

.typeBtn:focus{
    color:rgb(28, 51, 128);
}

.blockAB {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width: 400px) {
    .imageBg {
        flex-direction:row;
        justify-content: center;
    }
    .titlePara {
        flex:0.7;
        margin-left:0;
        font-size:80%;
        padding: 1%;
        text-align: center;

    }
}