.overlay_open {
  width: 0;
  height: 0;
  overflow: hidden;
}

.drawer-routeList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.routeItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgb(182, 182, 182);
  margin: 0 10px;
  list-style-type: none;
}

@media only screen and (orientation: portrait), (max-width: 500px) {
  .overlay_closed {
    width: 0;
    height: 0;
  }
  .overlay_open {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
  }

  .drawer_container_close {
    overflow-x: hidden;
    position: fixed;
    width: 0vw;
    height: 100vh;
    background-color: white;
    z-index: 2000;
    transition: width 0.5s;
  }

  .drawer_container_open {
    overflow-x: hidden;
    position: fixed;
    width: 70vw;
    height: 100vh;
    background-color: white;
    z-index: 2000;
    transition: width 0.5s;
  }
}
