nav {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    justify-content:flex-start;
    position:fixed;
    width:100vw;
    z-index: 200;    
    transition: 0.5s;
    border-bottom: 1px solid rgb(121, 121, 121);
    padding-right: 20px;
}

nav > * {
    flex-direction:row;

}

.logo_container{
    display:flex;
    align-items:center;
    /* border:1px solid black; */
    color: #44699d;
    margin-left:10px;
    padding: 6px 4px;
}

.logo_container h2 {
    font-size: 2.5vw;
    font-weight: bold;

}

.logo_container img {
    object-fit: contain;
    height: 4vw;
}

.list_container {
    display:flex;
    flex:1;
    flex-direction: row;
    align-items:stretch;
    justify-content:flex-end;
    list-style: none;
    align-items: stretch;
    margin-right: 1%;
}

.list_container li {
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content:center;

}

.list_container li:hover > *:not(.dropdown_container *) {
    color: white !important;
    background-color: #44699d;
}

.list_container li > *:not(.dropdown_container *) {
    color: #44699d;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 1vw;
    transition: 0.3s;
}

.search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;

}

.search_form input {
    width: 12vw;
    outline: none;
    border-radius: 50px;
    padding-left: 10px;
    font-size:14px;
    border: 1px solid grey;
    height: min-content;
}

.search_form button {
    display:flex;
    align-items: center;
    outline: none;
    border: none;
    padding:10px;
    color: #44699d;
    background-color: transparent;
    transition: 0.3s;
    width: 3vw;
    height: 3vw;
    border-radius:50%;
}

.search_form button:hover {
    background-color:#44699d !important;
    color: white !important;
} 

.list_container li > *:hover + .dropdown_container {
    transform: scaleY(1);
    transition: transform 0.8s;

}

.dropdown_container:hover {
    transform: scaleY(1); 
}

.dropdown_container li:hover {
    background-color: #44699d !important;
}

.dropdown_container {
    position:absolute;
    display: flex;
    flex-direction:column;
    align-items:stretch;
    justify-content: center;
    z-index: 500;
    width:12vw;
    padding:0 !important;
    top:100%;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top center;
    transition: transform 0s;
}

.dropdown_container li {
    padding: 2vh 0vh;
    width: 100%;    
}

.dropdown_container li>* {
    color:#44699d;
}

.dropdown_container li:hover >* {
    color: white !important;
}



@media only screen and (max-width: 920px) {


.list_container li > * {
    font-size: 1.2vw;
}

.logo_container, .logo_container h2 {
    width: 0px !important;
    font-size: 0px !important;
    height: 0px !important;
}

.logo_container img {
    width:0;
    height: 0;
}
}